/*             START        HEADER STYLE */

.head-background {
	background: url("../img/bg/section-1.jpg");
	height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu-background {
	background-color: rgba(73, 71, 63, 0.6);
	height: 110px;
}

.green-romb {
	width: 58px;
	height: 35px;
	background: #18cfab;
	position: relative;
	margin-top: 30px;
	font-family: 'Montserrat', 'sans-serif';
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	line-height: 31px;
	text-align: center;
	display: inline-block;
}

.green-romb:before {
	content: "";
	position: absolute;
	top: -17px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-bottom: 17px solid #18cfab;
}

.green-romb:after {
	content: "";
	position: absolute;
	bottom: -17px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-top: 17px solid #18cfab;
}

.logo-name {
	font-family: 'Montserrat', 'sans-serif';
	color: #fff;
	font-size: 31.96px;
	display: inline-block;
}

.green-text {
	font-family: 'Montserrat', 'sans-serif';
	color: #18cfab;
	font-size: 31.96px;
	font-weight: 700;
	transform: scaleY(1.0015);
}

.menu-nav {
	margin-top: 30px;
}

.menu-point {
	display: inline-block;
	margin-left: 10px;
}

.link-menu {
	font-family: 'Montserrat', 'sans-serif';
	color: #b8b8b8;
	font-size: 13px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-center-posititon {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
}

.header-info {
	width: 1160px;
	margin: 0 auto;
}

.tittle-header {
	margin: 0 auto;
	font-family: 'Montserrat', 'sans-serif';
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	line-height: 9.53px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 155px;
}

.green-theme {
	color: #18cfab;
}

.main-name-header {
	font-family: 'Montserrat', 'sans-serif';
	color: #fff;
	font-size: 79px;
	font-weight: 700;
	line-height: 74px;
	text-align: center;
	transform: scaleX(1.0005);
	text-transform: uppercase;
	margin-top: 50px;
}

.subscribe-text-header {
	font-family: 'Montserrat', 'sans-serif';
	color: #d4d4d4;
	font-size: 34px;
	font-weight: 300;
	line-height: 74px;
	text-align: center;
	transform: scaleX(1.0005);
	text-transform: uppercase;
}

.button-header {
	text-align: center;
	margin-bottom: 200px;
}

#explore, #purchase {
	border-radius: 4px;
	background-color: #18cfab;
	width: 166px;
	height: 61px;
	font-family: 'Montserrat', 'sans-serif';
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	transform: scaleX(1.001);
	text-transform: uppercase;
	border: none;
	border-top: 4px solid #fff;
	margin-left: 29px;
	margin-top: 100px;
}

#purchase {
	background-color: #00cbf6;
}

.buttons-big, .buttons-big-green {
	background-color: #1c2a33;
	width: 25%;
	height: 300px;
	border-top: 7px solid #18cfab;
	text-align: center;
}

.buttons-big-green {
	background-color: #18cfab;
	border-top: 7px solid #fff;
}

.big-button-header {
	display: flex;
	justify-content: flex-start
}

.button-big-text, .button-big-text-white {
	font-family: 'Montserrat', 'sans-serif';
	color: #18cfab;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 60px;
}

.button-big-text-white {
	color: #fff;
	margin-top: 80px;
}

.icon {
	margin-top: 60px;
}

.link-menu:hover {
	color: #18cfab;
	border-bottom: 2px solid #18cfab;
	padding-bottom: 50px;
}

/*             END       HEADER STYLE */

/*             START      OUR SERCIVE STYLE */

.our-service {
	width: 1160px;
	margin: 0 auto;
	margin-top: 240px;
}

.title-section {
	font-family: "Montserrat", "sans-serif";
	color: #4e4e4e;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	padding-bottom: 17px;
	margin: 0 auto;
}

.line {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
}

.line-under {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
	position: relative;
	bottom: 6px;
	left: 12px;
	margin-bottom: 60px;
}

.service-tabs {
	display: flex;
	justify-content: space-around;
}

.service-tabs li a {
	width: 192px;
	height: 73px;
	background: rgb(248, 252, 254);
	font-family: "Montserrat", "sans-serif";
	color: #717171;
	font-size: 15.98px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	transform: scaleY(1.0009);
	text-decoration: none;
	display: block;
	cursor: pointer;
	line-height: 4;
	border: 1px solid #CCC;
	position: relative;
}

.service-tabs li {
	position: relative;
}

.block-img-text, .block-img-text.active {
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
	position: relative;
}

.green-triangle {
	position: absolute;
	top: 74px;
	left: 81px;
	width: 0px;
	height: 0px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 15px solid #18cfab;
	display: none;
}

.block-img-text {
	display: none;
}

.text-near-img {
	font-family: "Montserrat", "sans-serif";
	color: #777777;
	font-size: 13.64px;
	font-weight: 300;
	line-height: 25px;
	text-align: justify;
	transform: scaleY(1.0009);
	margin-left: 21px;
}

/*             END     OUR SERCIVE STYLE */

.our-work-content {
	width: 1160px;
	margin: 0 auto;
	background-color: rgb(248, 252, 254);
}

.our-work {
	background-color: rgb(248, 252, 254);
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #CCCCCC
}

.work-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.img-with-back {
	position: relative;
}

#all-button, #gd-button, #wd-button, #landing-button, #word-button {
	height: 58px;
	background: rgb(248, 252, 254);
	font-family: "Montserrat", "sans-serif";
	color: #717171;
	font-size: 14px;
	line-height: 42px;
	text-align: center;
	transform: scaleX(1.0009);
	outline: none;
	border: 0;
        padding: 0;

}

.work-buttons input:focus {
	border-top: 3px solid #18cfab;
}

#all-button {
	width: 75px;
}

#gd-button, #landing-button {
	width: 145px;
}

#wd-button, #word-button {
	width: 125px;
}

.our-amazing-pitcure {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#load-more, #load-more-gallery {
	border-radius: 4px;
	background-color: #18cfab;
	width: 165px;
	height: 60px;
	font-family: "Montserrat", "sans-serif";
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 70px;
}

.load-buttons {
	text-align: center;
	position: relative;
}

.plus {
	margin-right: 6px;
}

.our-service-text {
	font-family: "Montserrat", "sans-serif";
	color: #4e4e4e;
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	margin-bottom: 36px;
	margin: 0 auto;
}

.line {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
}

.line-under {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
	position: relative;
	bottom: 6px;
	left: 12px;
	margin-bottom: 60px;
}

.our-amazing-img {
	display: none;
}

.our-amazing-img.active {
	display: inline;
}

.background-block {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #f8fcfe;
	width: 286px;
	height: 208px;
	border-top: 3px solid #18cfab;
	text-align: center;
	display: none;
}

.back-tittle {
	font-family: "Montserrat", "sans-serif";
	color: #18cfab;
	font-size: 14px;
	font-weight: 700;
	line-height: 42px;
	transform: scaleX(1.0127);
	text-transform: uppercase;
	margin-top: 40px;
}

.fontawsome-search {
	color: #fff;
	position: relative;
	top: 11px;
}

.circle-plan span {
	color: #18cfab;
}

.circles {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.circle-search, .circle-plan {
	border-radius: 50%;
	border: 1px solid #18cfab;
	width: 41px;
	height: 40px;
	margin-left: 5px;
}

.circle-search {
	background-color: #18cfab;
}

.sub-back-tittle {
	font-family: "Montserrat", "sans-serif";
	color: #8a8a8a;
	font-size: 12px;
	font-weight: 300;
	line-height: 42px;
	transform: scaleX(1.0127);
}

#container {
	position: absolute;
	top: 119px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.dash {
	margin: 2px 6px;
	width: 15px;
	height: 6px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
	margin-right: -18px;
	transform-origin: center left;
	animation: spin 3s linear infinite;
}

.dos {
	transform-origin: center right;
	animation: spin2 3s linear infinite;
	animation-delay: .2s;
}

.tres {
	transform-origin: center right;
	animation: spin3 3s linear infinite;
	animation-delay: .3s;
}

.cuatro {
	transform-origin: center right;
	animation: spin4 3s linear infinite;
	animation-delay: .4s;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(360deg);
	}
	30% {
		transform: rotate(370deg);
	}
	35% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin2 {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(-180deg);
	}
	35% {
		transform: rotate(-190deg);
	}
	40% {
		transform: rotate(-180deg);
	}
	78% {
		transform: rotate(-180deg);
	}
	95% {
		transform: rotate(-360deg);
	}
	98% {
		transform: rotate(-370deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes spin3 {
	0% {
		transform: rotate(0deg);
	}
	27% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(180deg);
	}
	45% {
		transform: rotate(190deg);
	}
	50% {
		transform: rotate(180deg);
	}
	62% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(360deg);
	}
	80% {
		transform: rotate(370deg);
	}
	85% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin4 {
	0% {
		transform: rotate(0deg);
	}
	38% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(-360deg);
	}
	65% {
		transform: rotate(-370deg);
	}
	75% {
		transform: rotate(-360deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.img-with-back:hover .background-block {
	display: block;
}

.news {
	display: flex;
	justify-content: space-around;
	margin-bottom: 45px;
	flex-wrap: wrap;
}

.news-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	margin-bottom: 20px;
}

.news-card img {
	border: 0.5px solid grey;
}

.data-news {
	background-color: #203e38;
	width: 68px;
	height: 66px;
	position: absolute;
	top: 0px;
	left: 196px;
	font-family: "Montserrat", "sans-serif";
	color: #fff;
	font-size: 15.99px;
	line-height: 26px;
	text-align: center;
	transform: scaleY(1.0006);
	padding-top: 3px;
}

.card-detail {
	width: 263px;
	height: 72px;
	background-color: rgb(248, 252, 254);
	border: 1px solid #CCC;
}

.subcribe-news {
	font-family: "Montserrat", "sans-serif";
	color: #717171;
	font-size: 17.99px;
	font-weight: 700;
	line-height: 40px;
	transform: scaleY(1.0006);
	margin-left: 5px;
}

.comment-news {
	font-family: "Montserrat", "sans-serif";
	color: #777;
	font-size: 13.99px;
	font-weight: 300;
	line-height: 40px;
	transform: scaleY(1.0006);
	margin-left: 5px;
}

.breaking-news {
	width: 1160px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 135px;
}

.our-service-text {
	font-family: "Montserrat", "sans-serif";
	color: #4e4e4e;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 36px;
	margin: 0 auto;
}

.line {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
}

.line-under {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
	position: relative;
	bottom: 6px;
	left: 12px;
	margin-bottom: 60px;
}

.news-card:hover .subcribe-news {
	color: #18cfab;
}

.news-card:hover .data-news {
	background-color: #18cfab;
}

.what-people-say {
	height: 852px;
	background-image: url(../img/bg/Layer\ 3.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 70px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content-inside {
	width: 1160px;
	margin: 0 auto;
	text-align: center;
}

.text-what-people-say {
	font-family: "Montserrat", "sans-serif";
	color: #fff;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 30px;
}

.line {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
}

.line-under {
	width: 88px;
	height: 2px;
	border: none;
	background: #18cfab;
	position: relative;
	bottom: 6px;
	left: 12px;
	margin-bottom: 60px;
}

.text-person {
	font-family: "Montserrat", "sans-serif";
	color: #bbb;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 45px;
}

.sliders {
	margin: 0 auto;
	text-align: center;
}

.slider-for {
	width: 1060px;
	border-radius: 50%;
	text-align: center;
	height: 411px;
	margin-bottom: 35px;
}

.slider-for div {
	margin: 0 auto;
}

.person {
	margin: 0 auto;
	width: 150px;
	border: 2px solid #18cfab;
	box-shadow: 0 0 0 3px rgba(31, 218, 181, 0.2), 0 0 0 6px rgba(31, 218, 181, 0.2);
	border-radius: 50%;
	position: relative;
	top: -10px;
}

.mini-person {
	width: 60px;
	height: 59px;
	border: 4px solid rgba(31, 218, 181, 0.2);
	border-radius: 50%;
}

.slider-nav {
	width: 370px;
	padding: 0px 14px;
}

.slick-slide .slick-current .slick-active {
	width: 163px;
	position: relative;
	left: 13px;
	top: -10px;
	z-index: 999;
	opacity: 1;
}

.slick-center .mini-person {
	position: relative;
	top: -15px;
	border: 2px solid #18cfab;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(31, 218, 181, 0.2), 0 0 0 6px rgba(31, 218, 181, 0.2);
}

.item {
	padding-top: 30px;
}

.name-person {
	font-family: "Montserrat", "sans-serif";
	color: #18cfab;
	font-size: 16px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}

.work-person {
	font-family: "Montserrat", "sans-serif";
	color: #bbb;
	font-size: 13px;
	font-weight: 300;
	line-height: 27px;
	text-align: center;
	margin-bottom: 35px;
}

.img-background-with-text {
	margin-top: 100px;
	height: 474px;
	background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(../img/icons/Layer\ 2.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content-inside-block {
	text-align: center;
	width: 1160px;
	margin: 0 auto;
}

.text-ready {
	font-family: "Montserrat", "sans-serif";
	color: #18cfab;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 120px;
}

.text-ready-under {
	font-family: "Montserrat", "sans-serif";
	color: #d8d8d8;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}

#purchase-now {
	border-radius: 4px;
	background-color: #18cfab;
	width: 166px;
	height: 61px;
	font-family: "Montserrat", "sans-serif";
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	line-height: 31px;
	text-align: center;
	transform: scaleX(1.001);
	text-transform: uppercase;
	border: none;
	border-top: 4px solid #fff;
	margin-top: 70px;
}

.our-work-content {
	width: 1160px;
	margin: 0 auto;
}

.grid-item {
	float: left;
	width: 370px;
	height: 259px;
	margin-top: 5px;
}

.grid-item--width2 {
	width: 360px;
	height: 168px;
	display: flex;
	justify-content: center;
}

.grid-item--width3 {
	width: 370px;
	height: 247px;
}

.grid-item--width4 {
	width: 368px;
	height: 260px;
	left: 747px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.left-space {
	margin-left: 2px;
}

.grid-item--height2 {
	width: 370px;
	height: 380px;
}

.grid-item--height3 {
	width: 370px;
	height: 290px;
}

.grid-item--height4 {
	width: 363px;
	height: 373px;
	margin-top: 30px;
}

.hover-back {
	position: relative;
}
.back-gallery {
	position: relative;
	top: -172px;
	width: 181px;
	height: 168px;
	background-color: rgba(0, 0, 0, 0.78);
	display: none;
}

.back-sqaure, .back-sqaure2 {
	width: 37px;
	height: 37px;
	background-color: #00cbf6;
	text-align: center;
	margin-top: 45px;
}

.hover-back:hover .back-gallery {
	display: flex;
	justify-content: space-around;
}

.end-section {
	height: 100px;
	background-color: #22353f;
	text-align: center;
}

.copyrigth {
	padding-top: 40px;
	font-family: 'Montserrat', 'sans-serif';
	color: #aeaeae;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
}
